apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend-container
          image: devops-projeto-final:v1
          imagePullPolicy: Never
          ports:
            - containerPort: 5000
          env:
            - name: APP_USER
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: username
            - name: APP_SECRET
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: password
          volumeMounts:
            - name: temp-volume
              mountPath: /tmp/data
      volumes:
        - name: temp-volume
          emptyDir: {}